*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body{
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
}
.medsos{
  padding:8px 0;
  background-color: #009F93;
}
.medsos ul li{
  display: inline-block;
  margin-right: 12px;
}
.medsos ul li a{
  color: #fff;
  text-decoration: none;
}
.container{
  width: 80%;
  margin: 0 auto;
}
nav .judul{
  float: left;
  padding: 10px 0;
  color: #009F93;
}
nav .navigasi{
  float: right;
}
nav .navigasi li{
  display: inline-block;
}
nav .navigasi li a{
  display: inline-block;
  text-decoration:none;
  text-transform: capitalize;
  color: #000;
  font-weight: bold;
  /* margin: 0 8px; */
  padding: 15px 25px;
  transition: ease-in-out .2s;
}
nav{
  border-top: 2px solid #037171;
}
nav .navigasi li a:hover{
  background-color: #009F93;
  color: #fff;
  transition: ease-in-out .2s;
}
.active{
  background-color: #009F93;
  color: #fff !important;
}
.clearfix{
  clear: both;
}
#about.banner{
  background-image: url(../img/banner.jpg)
}
.banner{
  height: 80vh;
  background-image: url(../img/hero.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner::after{
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 159, 147,0.4);
}
.banner{
  padding: 50px 0;
}
.banner .judul{
  color: #fff;
  padding: 20px 30px;
  border: 5px solid #fff;
  z-index: 1;
}
.about{
  color: #000;
  text-align: center;
  word-spacing: 4px;
  line-height: 1.4rem;
}
h2,h3{
  color: #009F93;
  margin: 15px 0;
}
section{
  margin-bottom: 30px;
}
.service{
  background-color: #fafafa;
  text-align: center;
}
.service h2{
  /* background-color: #fafafa; */
  color: #009F93;
}
.box-outer{
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
}
.service .box-outer .box .icon span{
  color: #009F93;
  font-size: 24px;
  padding: 20px;
  border: 1px solid #009F93;
  border-radius: 50%;
}
.service .box-outer .box:first-child .icon span{
  
  padding: 20px 28px;
  border: 1px solid #009F93;
  border-radius: 50%;
}
.box-outer .box .icon{
  padding: 20px;
  /* border: 1px solid #009F93; */
  margin-bottom: 8px;
}
.box-outer .box .judul{
  /* padding: 20px; */
  /* border: 1px solid #009F93; */
  margin-bottom: 8px;
}
.box-outer .box{
  width: 25%;
  padding: 10px;
  /* border: 1px solid #009F93; */
}
footer{
  background-color: #009F93;
  color: #fff;
  text-align: right;
  padding: 12px 0;
}
.bg-loader{
  background-color: #ECCFC3;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bg-loader .loader{
  border: 3px solid #ECCFC3;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border-top-color: #009F93;
  border-bottom-color: #009F93;
  /* border-left-color: #009F93; */
  border-right-color: #009F93;
  animation: loader .4s linear infinite;
}
.breadcumb{
  background-color: #009F93;
  color: #fff;
  padding: 30px 0;
  font-weight: bold;
}
.visi{
  text-align: center;
}
.kontak{
  text-align: center;
}
.container > h2{
  margin: 48px 0;
}
@keyframes loader{
  100%{
    transform: rotate(360deg);
  }
}
@media screen and (max-width : 768px){
  .container{
    width: 90%;
  }
  header .judul{
    text-align: center;
    float: none;
  }
  header .navigasi{
    text-align: center;
    float: none;
  }
  .box-outer .box{
    width: 50%;
    padding: 10px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width : 562px){
  .box-outer .box{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
  }
}