*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.medsos{
  padding:8px 0;
  background-color: #009F93;
}
.medsos ul li{
  display: inline-block;
  margin-right: 12px;
}
.medsos ul li a{
  color: #fff;
  text-decoration: none;
}
.container{
  width: 80%;
  margin: 0 auto;
}
nav{
  display: inline-block;
}
nav .navigasi{
  display: inline-block;
}